.container{
  width: 90%;
  height:  auto;
  border: 1px solid rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title{
  text-align: center;
  margin-top: 1%;
  
}
.form-control{
  margin-top: 3%;
}
.btn{
  background-color: rgb(0, 102, 255);
  color: white;
  margin-bottom: 6%;
  float: right;
  margin-top: 2%;
}
.actionBtn{
  margin-bottom: 0;
  margin-top: 0;
  float: left;
  margin-left: 2%;
}
.dltBtn{
  background-color: rgb(248, 43, 255);
}